<ul class="l-container">
  <li class="l-grid-4">
    <article class="box">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/320x320.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">Gunosy Redesign Concept</a></h1>
      <p class="box-info">
        <small>2013 / Website</small>
      </p>
    </article>
  </li>

  <li class="l-grid-4">
    <article class="box">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/320x320.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">Gunosy Redesign Concept</a></h1>
      <p class="box-info">
        <small>2013 / Website</small>
      </p>
    </article>
  </li>

  <li class="l-grid-4">
    <article class="box">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/320x320.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">Gunosy Redesign Concept</a></h1>
      <p class="box-info">
        <small>2013 / Website</small>
      </p>
    </article>
  </li>

  <li class="l-grid-4">
    <article class="box">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/320x320.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">Gunosy Redesign Concept</a></h1>
      <p class="box-info">
        <small>2013 / Website</small>
      </p>
    </article>
  </li>

  <li class="l-grid-4">
    <article class="box">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/320x320.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">Gunosy Redesign Concept</a></h1>
      <p class="box-info">
        <small>2013 / Website</small>
      </p>
    </article>
  </li>

  <li class="l-grid-4">
    <article class="box">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/320x320.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">Gunosy Redesign Concept</a></h1>
      <p class="box-info">
        <small>2013 / Website</small>
      </p>
    </article>
  </li>
</ul>