---
layout: layout
title: Border/
pageclass: page-index
---


<!-- main-visual -->
<section class="mainvisual">
  <figure class="mainvisual-image">
    <%= image_tag 'main.jpg' %>
    <!-- <%= image_tag 'https://farm8.staticflickr.com/7390/12534523893_de31ce5613_k.jpg' %> -->
  </figure>

  <div class="mainvisual-text">
    <h1 class="text-title">RYO NAKAE</h1>
    <p>I’m a Web Designer in Japan</p>
    <div class="button">
      <a href="">About</a>
    </div>
  </div>
</section>


<!-- works -->
<div class="l-section section-works">
  <div class="l-inner">
    <h1 class="section-title">Works</h1>

    <%= partial "modules/works-archive" %>

    <div class="button"><a href="">More</a></div>
  </div>
</div>


<!-- playgrounds -->
<div class="l-section section-playgrounds">
  <div class="l-inner">
    <h1 class="section-title">Playgrounds</h1>

    <%= partial "modules/playgrounds-archive" %>
  </div>
</div>


<!-- information -->
<div class="l-section section-information">
  <div class="l-inner">
    <h1 class="section-title">Information</h1>

    <%= partial "modules/information-archive" %>

    <div class="button"><a href="">More</a></div>
  </div>
</div>